/out/
/.idea/
/src/ru/vsu/cs/img/arc_big_diff.bmp
/src/ru/vsu/cs/img/arc_ellipse_hor_main_diff.bmp
/src/ru/vsu/cs/img/arc_ellipse_ver_main_diff.bmp
/src/ru/vsu/cs/img/arc_main_diff.bmp
/src/ru/vsu/cs/img/arc_small_diff.bmp
/src/ru/vsu/cs/img/arc_sq_diff.bmp
/src/ru/vsu/cs/img/pie_big_diff.bmp
/src/ru/vsu/cs/img/pie_ellipse_hor_main_diff.bmp
/src/ru/vsu/cs/img/pie_ellipse_ver_main_diff.bmp
/src/ru/vsu/cs/img/pie_main_diff.bmp
/src/ru/vsu/cs/img/pie_small_diff.bmp
/src/ru/vsu/cs/img/pie_sq_diff.bmp
